#upload:hover{
    font-size: 2.2rem;
    transition: .5s;
}
#upload{
    transition: .5s;
}

#header{
    position: fixed;
    top: 0;     
    left: 0;    
    padding: 1rem;    
    border: solid 1px;
    height: 75px;
    display: block;
    z-index: 1000;
    padding: 1%;
    width: 100%;
    position: absolute;
   
}
