.cart-title{
    
    height: 550px;
    background-image: url(../../public/background.jpg);
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    background-size: 100% 100%;
    justify-content: center;
}
.title{
   
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    background-color: rgb(195, 195, 230);
    width: 100%;
    color: rgb(8, 15, 58);
    align-items: center;
    font-family: 900;
    display: flex;
    height: 70px;
    justify-content: center;
}
.item-lists{
   
    background-color: rgb(100, 103, 126);
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.item-lists h1 {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-bottom: 10px;
}
table{
    width: 70%;
    text-align: center;
    border-collapse: collapse;
}
th{
    text-align: center;
    font-size: 2rem;
    width: 300px;
    color: white;
    background-color: rgb(70, 79, 185);
}
td{
    background: white;
    padding: 1%;
    border-bottom: solid 1px gray;
    text-align: center;
    font-weight: 900;
    height: 100%;
}
.cart-imgs{
    object-fit: cover;
    height: 100%;
    margin-top: 10px;
    width: 50px;
}
table img{
    
    width: 100%;
    height: 100%;
}
.delete-btn{
    background-color: rgb(232, 81, 81);
    color: white;
    transition: .3s;
    padding: 2%;
}
.delete-btn:hover{
    background-color: rgb(51, 3, 3);
}
.signure{
    border: solid 1px;
    height: 100vh;
    background-color: rgb(70, 79, 185);
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
span {
    position: absolute;
    border-radius: 50px;
}
@media(max-width: 768px) {
    table{
        width: 420px;
        transform: translateY(-150px);
    }
    .item-lists h1{
        font-size: 1rem;
    }
    th, td {
        padding: 1%;
        font-size: .8rem;
    }
    .item-lists{
        height: 450px;
    }
}